<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img src="https://picsum.photos/id/1/200/100?blur=5" alt="">
        <ul id="listaMenu">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    </header>

    <main>
        <div>
            <h1>Heading</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, optio. <span
                    id="palabraNegrita">Beatae</span> ex, ea a accusamus
                commodi sunt officia porro dolorem repudiandae sed, et quaerat similique obcaecati error inventore in
                accusantium.</p>
        </div>
        <img id="imgCambio" src="https://picsum.photos/id/598/600/400" alt="">
    </main>

    <section>

        <div class="imagenes">
            <div>
                <img src="https://picsum.photos/id/598/600/400" alt="">
                <h2>Nombre</h2>
            </div>

            <div>
                <img src="https://picsum.photos/id/599/600/400" alt="">
                <h2>Nombre</h2>
            </div>
        </div>

        <div class="button">
            <button>Ver mas</button>
        </div>
    </section>

    <script src="./app.js"></script>

</body>

</html>